@import '../../styles/config';
.step-button {
  border: none;
  background-color: transparent;
  height: 24px;
  display: flex;
  padding: 0;
  gap: 14px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1f1939;
  position: relative;
  white-space: nowrap;
}

.triangle {
  position: absolute;
  top: 42px;
  left: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  background-color: $light-orange;
}
