.step-button {
    border: none;
    background-color: transparent;
    height: 24px;
    display: flex;
    padding: 0;
    gap: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #1F1939;
}