@import '../../styles/config';
@import '~bootstrap/scss/bootstrap';

.form-container {
  height: fit-content;
  width: 100%;
  background-size: cover;
  background-color: $light-orange;
  display: flex;
  justify-content: center;
}

@include media-breakpoint-up(lg) {
  .form-container {
    height: 618px;
    justify-content: unset;
    padding: 0 12.20%;
  }
}
