@import "~bootstrap/scss/bootstrap";

.footer {
  margin: 20px 30px 20px 30px;
  display: flex;
  align-items: center;
}

@include media-breakpoint-up(lg){
  .footer{
    margin: 20px 188px 20px 188px;
  }
}