//colors
$green: #a4bf43;
$grey: #878dab;
$black: #1f1939;
$lightGreen: #eef8e8;
$white: #ffffff;
$light-orange: #fae9cd;
$button-background: #fff8eb;
$dark-blue: #1f1939;
$help-button-content: 'Pomoc eksperta';
$primary-font: 'Urbane', 'sans-serif';

$round-icon-size: 24px;
