@import "~bootstrap/scss/bootstrap";

.gender-select-button {
  width: 333px;
  height: 90px;
  border-radius: 8px;
  background-color: #fff8eb;
  border: none;
  display: flex;
  padding: 0px 15px 0px 30px;
}

.select-icon {
  margin-top: 15px;
}

.gender-icon {
  display: flex;
  align-self: center;
}

.select-text {
  display: flex;
  align-self: center;
  font-family: 'Urbane','sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0px auto 0px 25px;
}

@include media-breakpoint-up(sm){
  .gender-select-button {
    width: 471px;
    height: 100px;
  }
}
