.form-div{
    text-align: center;
    form{
        input{
            display: block;
            padding: 10px;
            margin: 20px;
            text-align: center;
        }
    }
    button{
        padding: 10px;
        border-radius: 20px;
        width: 70%;
        cursor: pointer;
        background-color: #4B0082;
        color: white;
    }
}