.meal-tiles-div{
    text-align: center;
    max-height: 100vh;
    .container{
        width: 60%;
        margin: auto;
        display: inline;
        .meal-tile{
            display: inline-block;
            width: 150px;
            height: 150px;
            color: white;
            margin: 10px;
            vertical-align: middle;
            cursor: pointer;
        }
        .meal-tile:hover{
            background-color: white;
            color: orange;
        }
    }
    
}
.meal-info-div{
    button{
        padding: 10px;
        border-radius: 20px;
        width: 20%;
        cursor: pointer;
        background-color: #4B0082;
        color: white;
        min-width: 70px;
    }
}

.meal-tileClicked{
    display: inline-block;
    width: 150px;
    height: 150px;
    color: orange;
    background-color: white;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
}
