.gender-button {
  height: 200px;
  width: 200px;
}

.navbar{
  margin: 20px 25px 0 25px;
  .navbar-brand{
    font-size:x-large;
  }
  button{
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #eef8e8;
    border: none;
  }
}

.footer{
  margin: 20px 25px 20px 25px;
  display: flex;
  align-items: center;
  .step{
    display: flex;
    margin-left: -4px;
  }
  .step *{
    margin: 0 4px 0 4px;
  }
  .buttons{
    margin-left: auto;
    display: flex;
    .previous{
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      background-color: #878DAB;
      align-items: center;
      padding: 0 15px;
    }
    .next{
      background-color: #A4BF43;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 12px 18px;
      font-family: 'Urbane';
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      svg{
        margin-left: 10px;
      }
    }
  }
}

.form-div {
  text-align: center;
  form {
    input {
      display: block;
      padding: 10px;
      margin: 20px;
      text-align: center;
    }
  }
  button {
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    cursor: pointer;
    background-color: #4b0082;
    color: white;
  }
}

.tiles-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tiles-form-allergens {
  text-align: center;
  .tiles-container {
    width: 60%;
    margin: auto;
  }
}
