.gender-button {
  height: 200px;
  width: 200px;
}

.navbar {
  margin: 20px 25px 0 25px;
  .navbar-brand {
    font-size: x-large;
  }
  button {
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #eef8e8;
    border: none;
  }
}

.footer {
  margin: 20px 25px 20px 25px;
  display: flex;
  align-items: center;
}

.form-div {
  text-align: center;
  form {
    input {
      display: block;
      padding: 10px;
      margin: 20px;
      text-align: center;
    }
  }
  button {
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    cursor: pointer;
    background-color: #4b0082;
    color: white;
  }
}

.tiles-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tiles-form-allergens {
  text-align: center;
  .tiles-container {
    width: 60%;
    margin: auto;
  }
}
