@import '../../styles/config';

.description-div{
    display: flex;
    flex-direction: column;
    margin: 50px 30px 50px 30px;
    color: $dark-blue;
    .description-title{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
    }
    .description-text{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        opacity: 0.7;
        margin-top: 30px;
        white-space: pre-line;
    }
    img{
        margin-right: 20px;
    }
    p{
        font-family: 'Urbane';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $dark-blue;
    }
    
    .training-description{
        display: flex;
        margin-top: 30px;
        .vl{
            border-left: 3px solid $green ;
            height: 15px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}