@import '../../styles/config';

.navbar {
    margin: 20px 25px 0 25px;
    button {
      padding: 11px 20px;
      border-radius: 5px;
      background-color: $lightGreen;
      border: none;
    }
  }