@mixin tileRepeatingInfo($width, $height) {
    width: $width;
    height: $height;
    background-color: #F8F8FF;
    margin: 10px;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 2px #4B0082;
    }
}

.tile{
    display: flex;
    flex-direction: column;
    @include tileRepeatingInfo(160px,  100px);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tile-allergens{
    display: inline-block;
    @include tileRepeatingInfo(150px,  150px);
    vertical-align: middle;
}

.selected {
    background-color: #4B0082;
    color: white;
}

