@import '../../styles/config';

.select-button{
    width: 159px;
    height: 120px;
    border-radius: 8px;
    background-color: $button-background;
    border: none;
    display: inline;
    margin: 7.5px;
    .icon-with-select{
        display: flex;
        text-align: center;
        justify-content: center;
        .icon{
            margin-left: 40%;
        }
        .selected-icon{
            margin-left: 25px;
            margin-top: -15px;
        }
    }
    .text{
        display: inline-block;
        margin-top: 10px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .trainings{
        border: 1px solid #F0F0F0;
        border-radius: 20px;
        padding: 5px;
        font-family: 'Urbane';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        color: #878DAB;
    }
}