@import '../../styles/config';

.select-button{
    // width: fit-content;
    // height: fit-content;
    border-radius: 8px;
    background-color: $white;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 7.5px;
    align-items: center;
    
    .selected-icon{
        margin-left: 130px;
        margin-top: 5px;
    }

    .text{
        margin-top: 10px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    
    .training{
        border: 1px solid $darker-white;
        border-radius: 20px;
        padding: 5px;
        margin-top: 5px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        color: $grey;
    }
}

.selected{
    background-color: $button-background;
    .training{
    background-color: $green;
    color: $white;
    }
}