@import "~bootstrap/scss/bootstrap";

.form {
  height: 260px;
  width: 333px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@include media-breakpoint-up(lg){
  .form{
    flex-direction: row;
    flex-wrap: wrap;
    width: 1164px;
    height: 175px;
    gap: 0px 24px;
  }
}